= simple_form_for(resource, as:       resource_name,
                            url:      registration_path(resource_name),
                            html:     { class: 'form-signin' },
                            validate: true ) do |f|
  %h2.form-signin-heading Sign up
  = f.error_notification
  = f.input :email, autofocus: true, placeholder: 'Email address', validate: { presence: true },
                    input_html: { class: 'input-block-level' }
  = f.input :password, placeholder: 'Password', input_html: { class: 'input-block-level' },
                       validate: { presence: true }
  = f.input :password_confirmation, placeholder: 'Password confirmation', validate: { presence: true },
                                    input_html: { class: 'input-block-level' }
  = render "devise/shared/links"
  %br
  = f.button :submit, "Sign up", class: 'btn btn-large btn-primary'
