.row
  = simple_form_for [project, task], validate: true, html: { class: 'form-inline' }, remote: true do |f|
    .span1
      .icon_plus_green
    .span5
      = f.input :name, placeholder: 'Start typing here to create a task...', label: false
    .span2
      = f.input :deadline, as: :string, label: false, placeholder: 'Date', validate: false,
                           input_html: { class: 'datepicker', id: "datepicker_#{dom_id(project)}" }
    .span2
      = f.button :submit, value: 'Add Task', class: 'btn btn-success'
