%tr{id: dom_id(task)}
  %td.first= check_box_tag :finish, !task.finish?, task.finish?, class: 'task_finish', :'data-path' => project_task_path(task.project, task)
  %td.second= task.name
  %td= task.deadline
  %td.last
    %span.handle= image_tag('move.png')
    %span.delimiter-grey
      \|
    = link_to image_tag('edit_grey.png'), edit_project_task_path(task.project, task), :'data-toggle' => :modal,
                                          :'data-target' => '#edit-task', class: 'edit-task', id: "edit_#{dom_id(task)}"
    %span.delimiter-grey
      \|
    = link_to image_tag('trash_grey.png'), project_task_path(task.project, task), confirm: "Are you sure?",
                                           remote: true, method: :delete, id: "delete_#{dom_id(task)}"
