%div{ class: 'project', id: dom_id(project) }
  .row
    .span1
    .span10
      .project-header
        .row
          .span1
            .icon_table_blue
          .span8
            .project-name= best_in_place project, :name, activator: "#edit_#{dom_id(project)}"
            -#%div{ id: "", class: 'tasks-list' }
          .span1
            .links
              = link_to image_tag('edit_blue.png'), 'javascript:;', id: "edit_#{dom_id(project)}"
              %span.delimiter
                \|
              = link_to image_tag('trash.png'), project, method: :delete, remote: true, confirm: 'Are you sure?'
    .span1
  .row
    .span1
    .span10
      %div{ id: "#{dom_id(project)}_new_task", class: 'new-task' }
        = render 'tasks/form', { project: project, task: Task.new }
    .span1
  .row
    .span1
    .span10
      %table.table.tasks-list{ id: "#{dom_id(project)}_tasks_list", :'data-update-url' => sort_project_tasks_path(project) }
        = render project.tasks
    .span1
