%div{ class: 'project', id: dom_id(project) }
  .row
    .span1
    .span10
      .project-header
        .row
          .span1
            .icon_table_blue
          .span8
            .project-name= best_in_place project, :name, activator: "#edit_#{dom_id(project)}"
            -#%div{ id: "#{dom_id(project)}_new_task" }
              -#= render 'tasks/form', { project: project, task: Task.new }
            -#%div{ id: "#{dom_id(project)}_tasks_list", class: 'tasks-list' }
              -#= render project.tasks
          .span1
            .links
              = link_to image_tag('edit_blue.png'), 'javascript:;', id: "edit_#{dom_id(project)}"
              %span.delimiter
                \|
              = link_to image_tag('trash_blue.png'), project, method: :delete, remote: true, confirm: 'Are you sure?'
    .span1
